/* COLORS */

$cBackground : #1e1d1c;
$cGrey : #e8e0dd;
$cGreyDark : #655643;
$cBlueDark : #1d7674;
$cBlue : #78c0a8;
$cBlueLight : #61d8d5;
$cRedDark : #efa91b;
$cRed : #f07818;
$cRedLight : #ef1b1b;

/* Functions */

@function exponent( $num, $exp ) {
  $value : $num;
  @for $i from 1 through $exp {
    $value : $value * $num;
  }
  @return $value;
}

/* Urgency Coloring */

@each $color, $index in
  ( $cGrey, 1 ),
  ( $cGreyDark, 2 ),
  ( $cBlueDark, 3 ),
  ( $cBlue, 4 ),
  ( $cBlueLight, 5 ),
  ( $cRedDark, 6 ),
  ( $cRed, 7 ),
  ( $cRedLight, 8 ) {
  .Template-urgency-color {
    &.state-urgency-#{$index} {
      color : $color;
    }
  }

  .Template-urgency-bgcolor {
    &.state-urgency-#{$index} {
      background-color : $color;
    }
  }

  .Template-urgency-color-parent {
    .state-urgency-#{$index} > & {
      color : $color;
    }
  }

  .Template-urgency-bgcolor-parent {
    .state-urgency-#{$index} > & {
      background-color : $color;
    }
  }

  .Template-urgency-action {
    &.state-urgency-#{$index} {
      color : $color;
      background-color : transparent;
    }
    &.state-urgency-#{$index}:hover {
      color : $cBackground;
      background-color : $color;
    }
    &.state-urgency-#{$index}:active {
      color : $cBackground;
      background-color : $color;
    }
  }

  .Template-urgency-action-parent {
    .state-urgency-#{$index} > & {
      color : $color;
      background-color : transparent;
    }
    .state-urgency-#{$index} > &:hover {
      color : $cBackground;
      background-color : $color;
    }
    .state-urgency-#{$index} > &:active {
      color : $cBackground;
      background-color : $color;
    }
  }
}
