html
  head
    title Synthetica
    meta( name="description" content="Synthetica Description" )
    meta( name="author" content="Rafe Lepre" )
    meta( charset="utf8" )
    meta( http-equiv="X-UA-Compatible" content="IE=edge; chrome=1" )
    meta( name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" )
    meta( name="mobile-web-app-capable" content="yes" )
    meta( rel="icon" type="image/png" href="//static.skedge.me/michaels/favicon.png" )
    meta( rel="apple-touch-icon" href="" )
    meta( property="og:image" content="" )
    meta( rel="apple-touch-icon" sizes="76x76" href="" )
    script( src="https://use.typekit.net/pdf8skt.js" )
    script.
      try{Typekit.load({ async: true });}catch(e){}
    style.
      html,body,#root {
        margin: 0;
        padding: 0;
      }
  body
    #root
    canvas
    script( type="application/javascript" src=`vendor.js?${Date.now()}` )
    script( type="application/javascript" src=`app.js?${Date.now()}` )
